<custom-ajax-cart class="custom-ajax-cart">
  <main class="cart-container">
    <div class="cart-header">
      <h2 class="cart-count">Shopping cart (6)</h2>
      <p>Spent more Rs. 2,600.00 extra for free shipping!</p>
      <div class="indicator-bar"></div>
    </div>
    <div class="timer">
      <div class="days">
        <span>143</span>
        <span>days</span>
      </div>
      <div class="days">
        <span>2</span>
        <span>hours</span>
      </div>
      <div class="days">
        <span>0</span>
        <span>mins</span>
      </div>
      <div class="days">
        <span>56</span>
        <span>sec</span>
      </div>
    </div>
    <div class="cart-product-card-container">
      <ajax-cart-items class="cart-product-card ajax-cart-items">
        <img
          src="https://cdn.shopify.com/s/files/1/0858/0549/8670/products/14_50b1fff3-a249-4b29-975c-6181c4d1ab16.jpg?v=1708491480"
          alt="img"
          height="172"
          width="150">
        <div class="cart-product-info">
          <h4>Men's Winter Hooded Jacket</h4>
          <h5>
            <strong>Rs. 14000,00</strong>
          </h5>
        </div>
        <div class="button-container">
          <a href="#" class="cart-product-delete-button button">
            <span>X</span>
          </a>
          <div class="quantity-input">
            <span class="quantity-button">-</span>
            <input type="text" class="quantity-board">
            <span class="quantity-button">+</span>
          </div>
        </div>
      </ajax-cart-items>
    </div>
    <div class="total-amount">
      <div class="count">Subtotal (6)</div>
      <div class="total-amount-price">
        <strong>Rs. 17,400.00</strong>
      </div>
    </div>
    <div class="buttons-cart">
      <a href="#" class="button">
        <span>View Cart</span>
      </a>
      <a href="#" class="button">
        <span>Checkout</span>
      </a>
    </div>
  </main>
</custom-ajax-cart>