.store-locator h2{
    margin: 0 0 25px;
    padding: 0 10px;
    font-size: 28px;
    color: #ea5b29;
    line-height: 1;
    text-transform: uppercase;
}


.select-container{
  /* display:flex;
  align-items:center;
  justify-content:space-between; */
}

.store-locator label{
  width:28%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.store-locator .select-container select{
    width: 100%;
    height: 55px;
    /* background: url(../img/filter-dd.png) right center no-repeat #ececec; */
    padding: 0 20px;
    /* appearance: none; */
    /* -moz-appearance: none;
    -webkit-appearance: none; */
    font-size: 16px;
    font-family: Roboto;
    color: #6f7175;
    font-weight: 400;
  border:none;
  background:#ececec;
}

.store-locator .select-container 
select:focus,
select:active,
select:focus-visible{
  outline:none;
  border:none;
      outline-offset: unset;
    box-shadow: none;
}

.store-locator .go-button{
      background-color: #e85a29;
    color: #fff;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 700;
    width: 100%;
    height: 51px;
    line-height: 51px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 0;
}







